<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="OrderAppEntities" connectionString="metadata=res://*/Models.FoodData.csdl|res://*/Models.FoodData.ssdl|res://*/Models.FoodData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:orderapp12345654321.database.windows.net,1433;initial catalog=OrderApp;persist security info=True;user id=kimdien;password=Abc12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>