<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="fooddataEntities" connectionString="metadata=res://*/Models.FoodData.csdl|res://*/Models.FoodData.ssdl|res://*/Models.FoodData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:appfooddata.database.windows.net,1433;initial catalog=fooddata;persist security info=True;user id=phongbj;password=01696120437123aA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>